@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(5, 20, 20);
  font-family: 'Macondo', cursive;
}

.button-container{
  border: 2px solid black;
  padding: 10px;
  border-radius: 7px;
  box-shadow: inset 0px 10px 10px -9px rgba(48, 112, 209, 0.7);
}

button {
  cursor: pointer;
  outline: none;
  width: 120px;
  height: 75px;
  font-family:  'Times New Roman', Times, serif;
  font-size: 1.5rem;
  color: white;
  text-shadow: 0 2px 5px black;
  background: linear-gradient(to top, #696969, #575757);
  border-color: 2px solid black;
  border-radius: 7px;
  box-shadow:inset 0px 10px 10px -9px rgba(48, 112, 209, 0.4), 0px 12px 12px 0px rgba(0, 0, 0, 0.3);; 
}

button:hover {
  background: linear-gradient(to bottom, #696969, #575757);
}

button:active {
  transform: translateY(3px);
  box-shadow: inset 0px 6px 6px -9px rgba(48, 112, 209, 0.4);
}